<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sample Site</title>
</head>
<body>
    <div>
        <form id="chatform" action="/sendchat" method="POST">
            <input type="text" name="message" placeholder="chat here" />
            <button type="submit">send chat</button>
        </form>
    </div>
    <ul id="showChats"></ul>
</body>
<script>
    console.log('hello this is browser js code');

    let chatform = document.querySelector('#chatform');
    let showChats = document.querySelector('#showChats');

    chatform.onsubmit = function() {
        let message = chatform.message.value;
        console.log('form submitted with message: ', message);
        // here you can POST message to db
    }

    // takes in response of messages to display in browser
    function processMessage(response) {
        let messages = response.messages;
        if (messages.length > 0) {
            let showChats = document.querySelector('#showChats');
            let newMessageHtml = '';
            messages.forEach(message =>  {
                newMessageHtml += `<li>${message.messageText} ${message.timeStamp}</li>`;
            })
            showChats.innerHTML += newMessageHtml;
        } else {
            console.log('have not received message yet, will keep trying');
        }
    };

    function longPollFetch(url, messageCount, cb) {
        var xhr = new XMLHttpRequest();
        
        // lastReadyMessageSince= timestamp
        xhr.open('GET', url + '?lastReadMessageIndex=' + messageCount, true);
        xhr.onload = function() {
            if (xhr.readyState === 4) {
                if (xhr.status === 200) {
                    let results = JSON.parse(xhr.responseText);
                    messageCount += results.messages.length;
                    cb(results);
                } else {
                    console.log('error on readyState status != 200 ' + xhr.statusText);
                }
                longPollFetch(url, messageCount, cb);
            }
        };
        xhr.onerror = function() {
            console.log('onerror hit');
        };
        return xhr.send(null);
    }
    
    longPollFetch('/longpolling', 0, processMessage);
</script>
</html>
