<table id="policySearchResults" cellspacing="0" class="dataTable no-footer" role="grid">
    <thead style="text-align-last: center;">
    <tr role="row"><th class="fixed-small sorting_asc" tabindex="0" aria-controls="policySearchResults" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Domain: activate to sort column descending" style="width: 84px;">Domain</th><th class="entity sorting" tabindex="0" aria-controls="policySearchResults" rowspan="1" colspan="1" aria-label="Role: activate to sort column ascending" style="width: 306px;">Role</th><th class="entity sorting" tabindex="0" aria-controls="policySearchResults" rowspan="1" colspan="1" aria-label="Resource: activate to sort column ascending" style="width: 306px;">Resource</th><th class="fixed-small sorting" tabindex="0" aria-controls="policySearchResults" rowspan="1" colspan="1" aria-label="Policy Type: activate to sort column ascending" style="width: 84px;">Policy Type</th><th class="entity sorting" tabindex="0" aria-controls="policySearchResults" rowspan="1" colspan="1" aria-label="
        
          
            Protocol
            Src Ports /ICMP Type
            Dst Ports /ICMP Code
          
        
      : activate to sort column ascending" style="width: 307px;">
        <table cellspacing="0" style="display: inline-table; font-weight: bold;">
          <tbody><tr>
            <td class="td-header-protocol" style="padding-right: 25px;">Protocol</td>
            <td class="td-header-protocol">Src Ports/<br>ICMP Type</td>
            <td class="td-header-protocol">Dst Ports/<br>ICMP Code</td>
            <td >Enforce</td>
          </tr>
        </tbody></table>
      </th><th class="fixed-small sorting" tabindex="0" aria-controls="policySearchResults" rowspan="1" colspan="1" aria-label="Requester: activate to sort column ascending" style="width: 84px;">Requester</th><th class="entity sorting" tabindex="0" aria-controls="policySearchResults" rowspan="1" colspan="1" aria-label="Description: activate to sort column ascending" style="width: 307px;">Description</th><th class="fixed-super-small sorting" tabindex="0" aria-controls="policySearchResults" rowspan="1" colspan="1" aria-label="INFO: activate to sort column ascending" style="width: 42px;">INFO</th></tr>
    </thead>
    <tbody style="text-align-last: center;">
      
    <tr class="policy-row one">
      <td class="domain sorting_1"><a class="" href="domainLink">pes.acl</a></td>
      <td class="role"><a class="" href="roleLink">roleName</a></td>
      <td class="resource"><a class="" href="resourceLink">resourceName</a></td>
      <td class="policy-type">    <span class="policy-type-value" title="Rules that are applied only at the host level. (e.g. host's iptable).">HOST</span></td>
      <td class="transports-container">
        <table class="transports" cellspacing="0" style="display: inline-table;">
            <tbody><tr>
              <td class="protocol" style="padding-right: 45px;">TCP</td>
              <td>
                  1024
              </td>
              <td class="dst-port">
                  80
              </td>
              <td class="enforce" style="padding-left: 45px;">
                enforced
            </td>
            </tr>
            <tr>
              <td class="protocol" style="padding-right: 45px;">NARP</td>
              <td>
                  1024-65535
              </td>
              <td class="dst-port">
                  343
              </td>
              <td class="enforce" style="padding-left: 45px;">
                  enforced
              </td>
            </tr>
        </tbody></table>
      </td>
      <td><a class="" rel="noopener" target="_blank" href="link">requesterName</a></td>
      <td class="description">test description</td>
      <td class="info-data">
        <div class="icons-display">
          <div class="info-container">
            <button title="Info" class="info-policysearchresult icon-information" type="button">Edit/View Detail</button>
          </div>            <a title="View Policy" href="policyLink" class="icon-file-edit"></a>
        </div>
      </td>
    </tr>
    <tr class="policy-row two">
      <td class="domain sorting_1"><a class="" href="domainLink">pes</a></td>
      <td class="role"><a class="" href="roleLink">RoleX</a></td>
      <td class="resource"><a class="" href="resourceLink">ResourceA</a></td>
      <td class="policy-type">    <span class="policy-type-value" title="Rules that are applied only at the host level. (e.g. host's iptable).">HOST</span></td>
      <td class="transports-container">
        <table class="transports" cellspacing="0" style="display: inline-table;">
            <tbody><tr>
              <td class="protocol" style="padding-right: 45px;">TCP</td>
              <td>
                  1024
              </td>
              <td class="dst-port">
                  80
              </td>
              <td class="enforce" style="padding-left: 45px;">
                enforced
            </td>
            </tr>
            <tr>
              <td class="protocol" style="padding-right: 45px;">NARP</td>
              <td>
                  1024-65535
              </td>
              <td class="dst-port">
                  343
              </td>
              <td class="enforce" style="padding-left: 45px;">
                  enforced
              </td>
            </tr>
        </tbody></table>
      </td>
      <td><a class="" rel="noopener" target="_blank" href="link">jtsang01</a></td>
      <td class="description">test description for policy2</td>
      <td class="info-data">
        <div class="icons-display">
          <div class="info-container">
            <button title="Info" class="info-policysearchresult icon-information" type="button">Edit/View Detail</button>
          </div>            <a title="View Policy" href="policyLink" class="icon-file-edit"></a>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  